<!DOCTYPE html>
<html lang="en">

<%- include('./include/head.ejs') %>

  <body>
    <div class="uk-cover-container uk-height-medium">
      <img src="img/header.svg" alt="" uk-cover>
      <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
          <a class="uk-navbar-item uk-logo" href="home"><img src="img/logo.svg"></a>
          <ul class="uk-navbar-nav">
            <li><a href="/">Home</a></li>
            <li class="uk-active"> <a href="about">About</a></li>
            <li> <a href="blog">Blog</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </nav>
    </div>
  </body>

</html>